doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='css/main.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    title HTC Test

include ../basic/_functions
include ../mixins/_all

body.scrollbar
    .wrap.flex.flex--column.h-100
        .wrap__header
            include ../layouts/_header
        .wrap__main
            main.main
                block main
        .wrap__footer
            include ../layouts/_footer
    include ../layouts/_modal
    // Scripts
    script(src="https://cdn.polyfill.io/v1/polyfill.js?Element.prototype.closest" type="text/javascript")
    script(src="js/main.min.js" type="text/javascript")