// ==============================
// Forms
// ==============================

.input {
    font-family: $font-main;
    font-size: $font-basic;
    outline: none;
    border: none;
    border-bottom: 1px solid $color-main;
    padding: 7px 0;
    font-weight: 500;

    &.is-error {
        border-color: $color-red;
    }

    @include placeholder {
        font-weight: 400;
        color: $color-grey-dark;
    }
}

.form {
    &__item {
        &:not(:last-child) {
            margin-bottom: 18px;
        }

        &--button {
            margin-top: 30px;

            @media #{$media-min-md} {
                margin-top: 105px;
            }
        }
    }
}

.checkbox {
    &__input {
        display: none;
    }

    &__label {
        position: relative;
        padding-left: 25px;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            margin-top: -8px;
            left: 0;
            box-sizing: border-box;
        }

        &::before {
            border: 1px solid $color-main;
            border-radius: 3px;
        }

        &::after {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zLjE4MTgyIDYuMDIyNzNMMC43OTU0NTUgMy42MzYzNkwwIDQuNDMxODJMMy4xODE4MiA3LjYxMzY0TDEwIDAuNzk1NDU0TDkuMjA0NTUgMEwzLjE4MTgyIDYuMDIyNzNaIiBmaWxsPSIjRTUyNjFFIi8+Cjwvc3ZnPgo=");
            background-repeat: no-repeat;
            background-position: 50%;
            @include animate(.15);
            opacity: 0;
            top: 0%;
        }
    }

    &__input:checked+&__label::after {
        opacity: 1;
        top: 50%;
    }
}