// ==============================
// Grid
// ==============================

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;

    @media #{$media-min-md} {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media #{$media-min-lg} {
        flex: 0 0 25%;
        max-width: 25%;
    }
}