// ==============================
// Indentation
// ==============================

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-auto {
    margin-right: 0 !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    margin-top: 0 !important;
}

.pb-0 {
    margin-bottom: 0 !important;
}

.pl-0 {
    margin-left: 0 !important;
}

.pr-0 {
    margin-right: 0 !important;
}