footer.footer
	.container
		.footer-information.flex.flex-wrap
			.footer-information__logotype
				+img(getImg('htc-cs-logo.svg'), 'Цвт')
			.footer-information__text
				p.mb-0
					| 426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса, 246 (ДК «Металлург»)
					br
					| +7 (3412) 93-88-61, 43-29-29
				p
					a(href="https://htc-cs.ru/" target="_blank") htc-cs.ru